.users img {
   width: 50px;
   border-radius: 15px;
} 

.selectedPage {
   font-weight: 700;
   font-size: 21px;
}

.pageNumbersBlock {
   background-color: rgba(255, 255, 255, 0.829);
   width: 170px;
   text-align: center;
   border: 1px solid black;
   margin: 0 0 10px 0;
   border-radius: 6px;
}