.header{
   grid-area: h;
   background-color: rgb(36, 182, 240);
   border-radius: 15px;
   margin: 5px 0 0 0;
   }
   
.header img{
width: 60px;
   /* background-color: rgb(8, 80, 173); */
border-radius: 15px;
text-align: center;
}

.logoImg {
   position: relative;
   top: 3.5px;
   left: 5px;
}

.loginBlock{
   float: right;
   font-size: 25px;
   padding: 10px 10px 0 0;
   color: blue;
}

.button {
background-color: #0464f3;
border: none;
width: 75px;
border-radius: 5px;
height: 33px;
margin-left: 5px;
color: white;
font-size: 20px;
}

.button:disabled {
   opacity: 0;
}

.titleLogin {
   color: blue;
   position: relative;
   top: 2px;
   right: 5px;
}