.header{
   grid-area: h;
   background-color: rgb(36, 182, 240);
   border-radius: 15px;
   margin: 5px 0 0 0;
   }
   
.header img{
width: 60px;
   /* background-color: rgb(8, 80, 173); */
border-radius: 15px;
text-align: center;
}

.loginBlock{
   float: right;
   font-size: 25px;
   padding: 10px 10px 0 0;
   color: red;
}
.loginBlock a{
   
}