.nav{
   grid-area: n;
   background-color: rgb(24, 152, 226);
   border-radius: 15px;
   text-align: center;
}

.item {
   color: rgb(0, 255, 128);
}

.active {
   color: rgb(255, 0, 0);
   text-decoration: none;
}

.item {
   color: rgb(202, 151, 250);
   padding: 10px;
   font-size: 20px;
   /* border: 0.5px solid wheat; */
   border-radius: 15px;
   padding: 5px 0;
   margin: 10px 5px 5px 5px;
   background-color: rgb(11, 55, 202);
   text-decoration: none;
}