.app-wrapper{
   display: grid;
   grid-template-rows: 70px 100%;
   grid-template-columns: 2fr 10fr;
   /* grid-gap: 10px; */
   grid-template-areas: 
   "h h "
   "n c ";
   width: 1200px;
   margin: 0 auto;
   grid-gap: 10px;
}

.app-wrapper-content {
      grid-area: c;
      background-color: rgba(9, 162, 250, 0.788);
      border-radius: 15px;
      padding: 10px;
}

.app-wrapper-content img{
      width: 600px;
      border-radius: 15px;
}